<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="stylesheets/styleIndex.css" />
    <title>INICIO</title>
  </head>

  <body>
    <body>
      <div class="header">
        <div
          data-collapse="medium"
          data-animatio="default"
          data-duration="400"
          class="navigation w-nav"
        >
          <div class="navigation-wrap">
              <img src="images/logoAzul.png" width="162" class="logo-image" />
            </a>
            <div class="menu">
              <nav role="navigation" class="navigation-items w-nav-menu">
                <a href="#buscador" class="navigation-item w-nav-link">
                  <strong>BUSCAR</strong>
                </a>
                <a href="#footer" class="navigation-item w-nav-link">
                  <strong>CONTACTO</strong>
                </a>
                <a href="#" class="navigation-item w-nav-link">
                  <strong>MANUAL</strong>
                </a>
              </nav>
            </div>

            <a href="/login">
              <input type="submit" class="btn-iniciar" value="INICIAR SESIÓN" />
            </a>
          </div>
        </div>
        <div class="silder">
          <ul>
            <li><img src="/images/img10.jpg" /></li>
            <li><img src="/images/img11.jpg" /></li>
            <li><img src="/images/img8.jpg" /></li>
            <li><img src="/images/img7.jpg" /></li>
          </ul>
        </div>
      </div>
      <div class="buscador" id="buscador">
        <div class="container-2 w-container">
          <div class="section-heading">
            <h2 class="buscador">BUSCADOR</h2>
            <div class="med-divider"></div>
          </div>
          <div>
            <form class="w-clearfix">
              <select name="tipo" class="tipo">
                <option>Nombre común</option>
                <option>Especie</option>
                <option>Código</option>
              </select>
              <input type="text" maxlength="256" class="field w-input" />
            </form>
            <input
            type="submit"
            value="BUSCAR"
            class="submit-button w-button"
          />
          </div>
        </div>
      </div>

      <div>
        <iframe
          src="https://www.google.com/maps/d/embed?mid=1zlEFJGUjSyuifrB4Zc18-hQNtqVV4YH5"
          width="640"
          height="480"
        ></iframe>
      </div>

      <div class="footer" id="footer">
        <div class="RedesSociales">
          <a href="https://www.facebook.com/UCA.ElSalvador">
            <img
              src="images/iconoFacebook.png"
              width="40"
              height="40"
              class="facebook"
            />
          </a>
          <a
            href="https://twitter.com/UCA_ES?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
          >
            <img
              src="images/IconoTwitter.png"
              width="40"
              height="40"
              class="twitter"
            />
          </a>
          <a href="https://www.instagram.com/uca_elsalvador/?hl=es-la">
            <img
              src="images/IconoInstagram.png"
              width="63"
              height="50"
              class="instagram"
            />
          </a>
          <a href="http://www.uca.edu.sv/">
            <img
              src="images/IconoWebSite.png"
              width="45"
              height="45"
              class="web"
            />
          </a>

          <img
            src="images/IconoTelefono.png"
            width="41"
            height="38"
            class="telefono"
            title="2210-6600"
          />
        </div>
      </div>
    </body>
  </body>
</html>
