<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/styleFormulario.css">
    <title>INGRESAR</title>
</head>

<body>
    <div class="header">
        <div data-collapse="medium" data-animatio="default" data-duration="400" class="navigation w-nav">
            <div class="navigation-wrap">
                    <img src="images/logoAzul.png" width="162" class="logo-image">
                </a>
                <div class="menu">
                    <nav role="navigation" class="navigation-items w-nav-menu">
                        <a href="/" class="navigation-item w-nav-link">
                            <strong>INICIO</strong>
                        </a>
                        <a href="/ingresar" class="navigation-item w-nav-link">
                            <strong>INGRESAR</strong>
                        </a>
                        <a href="/editar" class="navigation-item w-nav-link">
                            <strong>EDITAR</strong>
                        </a>
                        <a href="#footer" class="navigation-item w-nav-link">
                            <strong>CONTACTO</strong>
                        </a>
                        <a href="" class="navigation-item w-nav-link">
                            <strong>MANUAL</strong>
                        </a>
                    </nav>
                </div>

                <a href="/login">
                    <input type="submit" class="btn-cerrar" value="CERRAR SESIÓN">
                </a>

            </div>
        </div>

        <h2 class="subtitulo">INGRESAR INFORMACION</h2>

        <div class="tab">
            <button class="tablinks" onclick="pestaña(event, 'taxonomica')">Información Taxonómica</button>
            <button class="tablinks" onclick="pestaña(event, 'Grupo')">Grupo</button>
            <button class="tablinks" onclick="pestaña(event, 'Arbol')">Arbol</button>
        </div>

        <div class="all-form">

            <div id="taxonomica" class="tabcontent"  display="block">
                <div class="tabla">

                </div>

                <div class="formulario">
                    <form class="form">
                        <!--codigo-->
                        <label class="label" for="codigo-info">
                            Codigo:
                            <span class="error" aria-live="polite"></span>
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="codigo-info" required>

                        <!--especie-->
                        <label class="label" for="especie">
                            Especie:
                            <span class="error" aria-live="polite"></span>
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="especie" required>

                        <!--nombre cientifico-->
                        <label class="label" for="nombre-cientifico">
                            Nombre cientifico:
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="nombre-cientifico" required>

                        <!--familia-->
                        <label class="label" for="familia">
                            Familia:
                            <span class="error" aria-live="polite"></span>
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="familia" required>

                        <!--division-->
                        <label class="label" for="division">
                            Division:
                            <span class="error" aria-live="polite"></span>
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="division" required>

                        <!--boton para subir imagenes-->
                        <input type="submit" value="seleccionar archivo" class="btn-img w-button">

                        <!--boton de guardar-->
                        <input type="submit" value="GUARDAR" class="btn-guardar w-button" onclick="InsertInfoTaxo()">
                    </form>
                </div>
            </div>

            <div id="Grupo" class="tabcontent">

                <div class="tabla">

                </div>

                <div class="formulario">
                    <form class="form">

                        <!--codigo de grupo-->
                        <label class="label" for="cod-grupo">
                            Codigo grupo:
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="cod-grupo" required>

                        <!--nombre-->
                        <label class="label" for="cod-esp">
                            Nombre:
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="nombre" required>

                        <!--ubicacion-->
                        <label class="label" for="Coordenada">
                            Coordenada:
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="Coordenada" required>

                        <!--boton guardar-->
                        <input type="submit" value="GUARDAR" class="btn-guardar w-button" onclick="InsertGrupo()">

                    </form>
                </div>
            </div>

            <div id="Arbol" class="tabcontent">

                <div class="tabla">
                </div>

                <div class="formulario">
                    <form class="form">

                        <!--codigo Arbol-->
                        <label class="label" for="cod-arbol">
                            Codigo arbol:
                        </label>
                        <input type="text" class="text-field w-imput" maxlength="256" id="cod-arbol" required>

                        <!--cod grupo-->
                        <label class="label" for="grupo">
                            Codigo Grupo:
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="grupo" required>

                        <!--cod info taxonomica-->
                        <label class="label" for="cod-info">
                            Codigo Informacion taxonomica:
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="cod-info" required>

                        <!--nombre comun-->
                        <label class="label" for="comun">
                            Nombre Comun:
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="comun" required>

                        <!--DAP-->
                        <label class="label" for="dap">
                            Dap (diametro a la altura del pecho):
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="dap" required>

                        <!--ubicacion-->
                        <label class="label" for="coord">
                            Coordenada:
                        </label>
                        <input type="text" class="text-field w-input" maxlength="256" id="coord" required>

                       <!--comentario-->
                        <label class="label" for="comentario">
                            Comentario:
                        </label>
                        <textarea class="Comentario" maxlength="5000" id="comentario"></textarea>

                        <!--boton guardar-->
                        <input type="submit" value="GUARDAR" class="btn-guardar w-button" onclick="InsertArbol()">
                    </form>
                </div>
            </div>
        </div>

        <!--FOOTER-->
        <div class="footer" id="footer">
            <div class="RedesSociales">
                <a href="https://www.facebook.com/UCA.ElSalvador">
                    <img src="images/iconoFacebook.png" width="40" height="40" class="facebook">
                </a>
                <a href="https://twitter.com/UCA_ES?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                    <img src="images/IconoTwitter.png" width="40" height="40" class="twitter">
                </a>
                <a href="https://www.instagram.com/uca_elsalvador/?hl=es-la">
                    <img src="images/IconoInstagram.png" width="63" height="50" class="instagram">
                </a>
                <a href="http://www.uca.edu.sv/">
                    <img src="images/IconoWebSite.png" width="45" height="45" class="web">
                </a>

                <img src="images/IconoTelefono.png" width="41" height="38" class="telefono" title="2210-6600">

            </div>
        </div>
    </div>

</body>
<script src="javascripts/form.js"></script>
</html>

<script>
    /*funcion para insertar informacion taxonomica*/
    function InsertInfoTaxo() {
      window.location.replace("/ingresar");
      let url = "http://localhost:3000/ingresar";
      let data = {
        codigoInfo: document.getElementById("codigo-info").value,
        especie: document.getElementById("especie").value,
        nombreCientifico: document.getElementById("nombre-cientifico").value,
        familia: document.getElementById("familia").value,
        division: document.getElementById("division").value
      };
      debugger;
      fetch(url, {
        method: "POST", // or 'PUT'
        body: JSON.stringify(data), // data can be `string` or {object}!
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(res => res.json())
        .catch(error => console.error("Error:", error))
        .then(response => console.log("Success:", response));
    }

    /*funcion para insertar un grupo*/
    function InsertGrupo() {
      window.location.replace("/ingresar");
      let url = "http://localhost:3000/ingresar";
      let data = {
        codigoGrupo: document.getElementById("cod-grupo").value,
        nombre: document.getElementById("nombre").value,
        coordenada: document.getElementById("coordenada").value
      };
      debugger;
      fetch(url, {
        method: "POST", // or 'PUT'
        body: JSON.stringify(data), // data can be `string` or {object}!
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(res => res.json())
        .catch(error => console.error("Error:", error))
        .then(response => console.log("Success:", response));
    }

    /*funcion para insertar Arbol*/
    function InsertArbol() {
      window.location.replace("/ingresar");
      let url = "http://localhost:3000/ingresar";
      let data = {
        codigoArbol: document.getElementById("cod-arbol").value,
        grupo: document.getElementById("grupo").value,
        codigoInformacion: document.getElementById("cod-info").value,
        comun: document.getElementById("comun").value,
        dap: document.getElementById("dap").value,
        coordenada: document.getElementById("coord").value,
        comentario: document.getElementById("comentario").value
      };
      debugger;
      fetch(url, {
        method: "POST", // or 'PUT'
        body: JSON.stringify(data), // data can be `string` or {object}!
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(res => res.json())
        .catch(error => console.error("Error:", error))
        .then(response => console.log("Success:", response));
    }
  </script>
